# Database Configuration
MYSQL_HOST=mysql.railway.internal
MYSQL_USER=root
MYSQL_PASSWORD=ADPtfMbvZObfKpLcUGbMcGEpMzyiOrIQ
MYSQL_DATABASE=railway
MYSQL_PORT=3306

# Server Configuration
PORT=3306
NODE_ENV=development

# Frontend URL (untuk CORS)
FRONTEND_URL=https://kitsuvibe.vercel.app